
.login-page {
 
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url("https://img.freepik.com/premium-photo/full-frame-shot-abstract-background_1048944-4743606.jpg?w=740");
  background-repeat: no-repeat;
  background-size: cover;
}

.login-container {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-heading {
  text-align: center;
  
}

.login-form {
  width: 100%;
}

.login-input {
  width: 100%;
}

.login-button {
  width: 100%;
  background-color:#24790f;
  border-color: #333333;
  color: #FFFFFF;
}

.google-button {
  width: 100%;
  margin-top: 10px;
}

.login-page .ant-modal {
  top: 20%;
}

.login-page .ant-modal-footer {
  display: none;
}
