.register-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f2f5; // Light background
  background-image: url("https://img.freepik.com/premium-photo/full-frame-shot-abstract-background_1048944-4743606.jpg?w=740");
  background-repeat: no-repeat;
  background-size: cover;

  
  .register-container {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 400px; // Set a max width
    text-align: center;
    margin-top: 36px;
  margin-bottom: 36px;

    .register-heading {
      font-size: 24px;
      margin-bottom: 10px;
      color: #333; // Dark color for contrast
    }

    .register-subheading {
      margin-bottom: 20px;
      color: #666; // Subtle color
    }

    .register-form {
      .role-selector {
        margin-bottom: 20px;
      }

      .input-field {
        margin-bottom: 20px;
        border-radius: 4px;
      }

      .date-picker {
        width: 100%; // Full width for date picker
        margin-bottom: 20px;
      }

      .register-button, .google-button {
        width: 100%; // Full width buttons
        margin-bottom: 10px;
      }

      .login-link {
        color: #1890ff; // Ant Design primary color
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
